version: "2"
services:
  notebook:
    build:
      context: .
      dockerfile: docker/Dockerfile
    runtime: nvidia
    shm_size: '4gb'
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    container_name: pyramid-mixer
    command: python train.py
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ '0' ]
              capabilities: [ gpu ]

